name: Events Test

on:
    workflow_dispatch:
    push:
        branches:
            - main
            - dev
    
    pull_request:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - run: 'echo "Event Triggered: ${{ github.event_name }}"'
            - run: 'echo "Branch: ${{ github.ref }}"'

