name: Trigger Demo

on:
    push:
    pull_request:
    workflow_dispatch:
    
jobs:
    demo:
        runs-on: ubuntu-latest
        steps:
            - run: echo "Pipeline triggered successfully!"